@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
    @keyframes Anim_shake {
      0%, 100% {
        transform: translateX(0);
      }
      10%, 30%, 50%, 70% {
        transform: translateX(-10px);
      }
      20%, 40%, 60% {
        transform: translateX(10px);
      }
      80% {
        transform: translateX(8px);
      }
      90% {
        transform: translateX(-8px);
      }
    }
  
    .animate-shake {
      animation: Anim_shake 1s forwards linear;
    }
  }
  